.instruction {
    align-self: center;
    background-color: rgba(225, 224, 233, 0.87);
    display: block;
    justify-content: center;
}

.inst-block {
    margin: 20px;
}

.h1 {
    justify-content: center;
    align-self: center;
}

.just {
    display: flex;
    justify-content: center;
}

.h3 {
    font-size: 500%;
    font-weight: 100;
}

.just1 {
    visibility: visible;
    position: absolute;
    margin: auto;
    width: 70%;
    top: 0%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.button1 {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 300%;
}