:root {
    --overflow: visible;
    --position: relative;
    --width: 2000px;
    --margin-top: 0px
}

.panel {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 5px;
    border-style: inset;
    border-width: 2px;
    border-color: black;
    border-radius: 20px;
    position: fixed;
    top: 1em;
    right: 1em;
    width: 50px;
    height: 230px;
    z-index: 12;
}

.plusstyle {
    width: 50px;
    display: table-column;
}

.minusstyle {
    width: 50px;
    display: table-column;
    margin-top: 3px;
}

.infostyle {
    width: 50px;
    display: table-column;
    margin-top: 3px;
}

.mainbody {
    overflow: auto;
    position: var(--position);
}

.mainblock {
    width: var(--width);
    position: relative;
}

.map {
    margin-top: var(--margin-top);
    width: 100%;
}

.movediv {
    position: absolute;
    display: table;
    width: 2.8%;
    z-index: 9;
    cursor: grab;
}

.fishka1 {
    top: 2px;
    left: 2px;
}

.fishka2 {
    top: 2px;
    left: 58px;
}

.fishka3 {
    top: 2px;
    left: 114px;
}

.fishka4 {
    top: 2px;
    left: 170px;
}

.fishka5 {
    top: 2px;
    left: 226px;
}

.fishka6 {
    top: 2px;
    left: 282px;
}

.fishka7 {
    top: 2px;
    left: 338px;
}

.fishka8 {
    top: 2px;
    left: 394px;
}

.fishka9 {
    top: 2px;
    left: 450px;
}

.free.mainbody {
    float: left;
}

.free {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: grab;
}

.free:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: -o-grabbing;
    cursor: grabbing;
}